.body{
    background-image: url(../img/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.cabecalho{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    display: flex;

    

}

.forms{
    text-align: justify;
    align-items: center;
    border: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.linha{
    display: flex; 
    flex-direction: row; 
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;

}
